<mat-carousel
	timings="250ms ease-in"
	[autoplay]="true"
	[interval]=+5000
	color="accent"
	maxWidth="auto"
	[proportion]="50"
	[slides]="5"
	[loop]="true"
	[hideArrows]="false"
	[hideIndicators]="false"
	[useKeyboard]="true"
	[useMouseWheel]="false"
	orientation="ltr">
	<ng-container *ngFor="let slide of slides" class="container mx-auto">
		<mat-carousel-slide #matCarouselSlide [image]=slide overlayColor="#00000040" [hideOverlay]="false">
		</mat-carousel-slide>
	</ng-container>
</mat-carousel>

<div class="p-4">
	<app-section-divider id="welcome" label="Welcome!"></app-section-divider>
	<p>
		Internet Access:
		Network name: River House
		Password: cowlitzriver
	
		RV Pad:
		Water, power and septic service are located next to the concrete pad that is along the bunk house. We can provide additional hookup information if you need it.  There is an additional RV pad by the home that has power hookups only.
	
		TVs:
		All TVs have the Amazon Fire Stick (One in the great room, one in the primary bedroom).  You should be able to use all popular streaming apps on the TVs, such as netflix, amazon prime and hulu.  Just input your username and password and you can access the content you want.
	
		Lighting:
		Most lighting is labeled for your convenience.
		The great room, kitchen, master bedroom and breakfast bar have dimmers (dimmer for great room is near the door to the master bedroom)
		Outdoor lighting switches:
		River side of house lights have a switch near the sliding glass doors
		The driveway side of the home light is on a motion detector & the switch is near the entry door of the utility room
	
		Heating & Cooling
		The home is on a heat pump and has cooling and heat-  you can set the home to the temp you would like using the smart thermostat on the wall in the hall using the up and down arrows.  The heat setting is set up to 68 and the cool setting is at 70.  Feel free to adjust to your liking during your stay.
	
		Gas Fireplace
		The thermostat on the right in the hallway and a small on/ off switch on the upper right rear of the unit operates the fireplace.  Either can be used to light the fireplace
	
		The flame height is adjusted by opening a small door in front below the glass and turning the knob labeled flame height.
	
		If the fire does not light, the pilot light is out.  Follow instructions found in the same area as the flame height dial.
	
		Please be aware that using the gas fireplace will warm up the great room, but may cause the forced air furnace not to operate, resulting in cold bedrooms during cold weather.
		Emergency Utility Shutoff:

		Water- Whole house Shutoff is located in the closet in the Utility/ Laundry room. Look for the valve, low on the wall next to the water heater.
		
		Electrical- Breaker box is in the middle bedroom (mountain wall).  All breakers are marked.
		
		Propane- Shutoff valve is on top of the tank, located on the other side of the walkway off the master bedroom/ next to the river facing RV pad.  The gas fireplace also has an accessible valve.
		
		In Case of Power Failure:
		
		Flashlights, lantern and candles are located on the shelf in the utility closet  The lighter is in the second drawer down to the left of the oven.  Please use caution around candles if they are used.
		
		The gas fireplace will operate without electricity.  Just turn the thermostat on the right in the hallway to the desired temperature.
		
	</p>

	<app-section-divider id="amenities" label="Cabin Amenities"></app-section-divider>
	<p>
		Kitchen:
		The kitchen should have all your basics plus a few extras
		In order that our kitchen is useful to all our guests we do ask:
		Please hand wash the pots, pans and bakeware.  Their finishes and coats will last longer
		The bakeware is newer and have non-stick surfaces.  No greasing needed!
		We have a few small appliances
		Blender
		Rice cooker
		Waffle maker
		Please make sure that if you use one to clean it before putting it away.
		Our next guests will appreciate your efforts!  Thank you!

		Dryer Instructions:
		The humidity sensor on the dryer has failed so the automatic settings will not turn on the heating element. We are so sorry for any inconvenience! Please read below for options that should work instead!
		The manufacturer and the parts supply houses all say the part is not available and no estimate as to when they will make more. (We are looking to replace this part! Thanks for your patience!)
		In the interim, here are instructions on using the manual option to dry your clothes:
		Manual Settings All Work (Quick Dry, Time Dry, Air Fluff)
		Turn the large control knob to one of the above settings
		Select desired temperature from the right-hand column by pressing the Temp button.  It will cycle through the options and return to the original setting if you accidentally pass by the one you wanted
		Then press the time adjust button (top right).  Each press of the button will increase the time up to a max of 90 minutes and past that will drop the time back down to the minimum of 10 minutes
		
		Gas Barbecue
		Located on the deck or side of the home.  Instructions are printed on the barbecue. Barbecue tools are in the kitchen drawer.
		We try to keep the propane canister filled.  If it is empty, please let us know and we will exchange it for a full one.
		For the benefit of our next guests, please clean the grill with the grill brush after use!

		Firepit Use
		First things first:  check to see if there is any burn ban in effect.  You can do this by checking the Lewis County website, or it will be posted at the Packwood Post Office or Blanton’s Market.
		OR Scan this QR code! It will take you right to the county website!
		The fire pit is an **approved** firepit where you can have a fire during some burn bans.  However you still do need to check if there is a TOTAL burn ban.  In that case, the firepit cannot be used.
		Firewood & fire starter can be purchased in town including at Blanton’s, or at the lot in front of Skate Creek Bridge.  
		An axe and hatchet are on in the utility closet for cutting firewood as needed
		Marshmallow/ hot dog roasting sticks can be found in the deck box on the hot tub side of the home
		Matches should be found in the small drawer on the left side of the kitchen sink
		Watch the fire at all times and pay special attention to it during windy conditions
		Ensure all items, including chairs are a safe distance from the fire
		Please make sure the fire is out before you leave and please never leave the fire unattended

		Hot Tub Use
		Rinse off before use of the hot tub
		Unclip the 2 straps holding the cover, fold that end of the cover onto the other side of the cover sitting on the tub, then slide the folded cover into the holder that rests on the forest side of the hot tub
		Dust off feet before climbing into tub
		The skimmer that rests against the home can be used to remove any pine needles or debris that can fall into the tub
		Please do not bring glass into the hot tub
		When done, please make sure to return the hot tub cover over the tub and clip it in place!

		Other Yard Activities:
		Corn hole
		Ladder golf
		Marshmallow roasting sticks
		All of these can be found in the deck box on the hot tub side of the home

		Hanging Egg Chairs:
		Please note the weight limit for the chairs, which is 250 lbs.  This means that in general, only 1 person should sit in the chair at a time (aside from an adult and a small child).
		Please note that these are hanging chairs rather than swings.  While swings are fun, these are not designed for full on swing use and are meant for gentle motion only.
		The height of the chairs can be adjusted using the carabiner that attaches the chain on the chair to the chair stand.

		Puzzles, books and childrens toys are all located in the linen closet off of the hall bathroom. 
		A large selection of games can be found in the breakfast bar cabinet of the kitchen.
		Maps and information about hiking, flowers, and wildlife around Packwood & Mt Rainier are xxxx
		There are several bird books to help you identify the variety of bird life you will see around the river.
		You have access to Netflix, Hulu, and several other streaming apps via the Firestick in the TV

	</p>

	<app-section-divider id="checklist" label="Checkout Checklist"></app-section-divider>
	<P>
		Check Out Checklist

		All debris and trash are placed in the provided outside garbage can, including recyclables (there is no recycling service here)
		Please put dirty dishes in the dishwasher and start a load
		Please strip the beds of sheets and pillowcases and place on the washing machine
		Please place towels and other dirty linens on the washing machine
		Close shades
		If you have used the gas fireplace, please be sure it is set at 55 degrees before leaving
		Set the thermostat to XXX
		Lock windows and doors
		
		Please make sure to go through and check all rooms for your belongings!  It’s always a good idea to go through each room, check the side table and dresser drawers, as well as bathroom vanities for any items. It’s always a good idea to check around the exterior of the home as well!
		
		Thank you for visiting our River House! We hope to see you again!
	</P>

	<app-section-divider id="activities" label="Local Activities"></app-section-divider>
	<p>
		Quick Note: Please be careful along the riverfront.  It is rocky and the river is fast along the property, please use caution when accessing the river and always supervise children.
		Watch the wildlife! While we cannot guarantee any sightings- here are some creatures to keep an eye out for that have been spotted from the home before:
		
		Elk, deer, coyotes, raccoons, beavers, bald eagles, golden eagles, osprey, blue herons, hawks, turkey vultures, ducks, geese and bats.
		Eagles, Osprey, Heron and Kingfishers have been spotted catching fish from the home! Bears have been spotted nearby, but not at the house yet. 
		·         
		Stargazing from the deck or fire pit provides the best sky visibility and is highly recommended!
		
		Enjoy a morning hot tub dip with some coffee! Watching the sun slowly light up the property while enjoying the heat of the hot tub can be a relaxing way to start the day
		
		Watch the moon rise- This can be a beautiful experience.  The full moon often rises behind the ridge directly across the river from the cabin and provides bright light to the yard on clear nights.
		
		For a unique experience, sit on the back deck at dusk and you can watch bats come out to eat insects
		
		Float the river! You can start your float from the Southwest end of the property where it meets the river (the slower section to the far right  if you’re looking off the deck) all the way to the Skate Creek Bridge.  You can prepare by leaving the needed amount of vehicles for the people in your float at the Cowlitz River Access Point before beginning (there is public parking).
		Skate Creek Park website (you can find directions here and info on accessing the river)
		https://skatecreekpark.org/
		
		Try out the nearby Trails!  A list of local trails can be finding in the hiking binder located on the tv stand.  Here is a link as well to 10 well liked trails nearby in Packwood:
		https://www.alltrails.com/us/washington/packwood
		List of these trails is on the next page as well for your convenience!
		
		There is great fishing at Packwood Lake.  It is a hike-in lake, but we have heard that the hike in is worth it!
		
		We’re happy to offer suggestions for hikes or other activities in the area! Just shoot us a message via the hosting app!  We are here to make your experience here fun and the best fit for your needs.
	</p>

	<app-section-divider id="food" label="Eats & Drinks"></app-section-divider>
	<p>
		Packwood Brewing
		Blue Spruce
		The Mountain Goat Cafe
		Cliff Droppers
		Cruisers Pizza
		White Pass Taqueria and Taproom
	</p>

</div>