<mat-carousel
	timings="250ms ease-in"
	[autoplay]="true"
	[interval]=+5000
	color="accent"
	maxWidth="auto"
	[proportion]="50"
	[slides]="5"
	[loop]="true"
	[hideArrows]="false"
	[hideIndicators]="false"
	[useKeyboard]="true"
	[useMouseWheel]="false"
	orientation="ltr">
	<ng-container *ngFor="let slide of slides" class="container mx-auto">
		<mat-carousel-slide #matCarouselSlide [image]=slide overlayColor="#00000040" [hideOverlay]="false">
		</mat-carousel-slide>
	</ng-container>
</mat-carousel>

<div class="p-4">
	<app-section-divider id="welcome" label="Welcome!"></app-section-divider>

	<b>Welcome to The River House!</b>
	We would like to sincerely thank you for choosing to stay here for your adventures in Packwood
	If anything is not to your satisfaction, please use the message function on the booking platform
	to give us your feedback so we can do our best to accommodate you and assist with any issues that arise.

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	We have put together this guest book to help you make the most of your stay here. In it you will find:

	<ul class="list-disc list-inside">
		<li>Check out instructions</li>
		<li>House Rules</li>
		<li>Emergency Utility information</li>
		<li>Directions for most amenities</li>
		<li>Eats & Drinks</li>
		<li>Local hikes</li>
		<li>Various activities inside and outside</li>
	</ul>

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	It is worth noting that the River in front of the home has a steep bank and is very fast.
	Please use caution near the edge of the property if you choose to access the river here and supervise children outside.
	We hope to earn your 5 star review and would love the opportunity to better anything we can to make it a truly fantastic stay.

	<app-section-divider id="checklist" label="Checkout Checklist"></app-section-divider>
	
	<h4 class="label">Check Out Checklist</h4>

	<ul>
		<li><mat-checkbox></mat-checkbox> Please observe the 10 a.m. check out time.</li>
		<li><mat-checkbox></mat-checkbox> Please take excess trash to the outside garbage receptacle that is at the paved end of the driveway (where it meets the cul de sac)</li>
		<li><mat-checkbox></mat-checkbox> Please run the dishwasher upon your departure with any dirty dishes.</li>
		<li><mat-checkbox></mat-checkbox> Please place all used towels on the floor by the washer. Please start a load of towels if you able (keep white towels and hot tub towels separate).</li>		
		<li><mat-checkbox></mat-checkbox> Make sure the barbeque is properly extinguished and closed upon your departure and the gas is turned off.</li>	
	
	
		
	</ul>

	<br>

	Thank you for visiting our River House! We hope to have you again!

	<app-section-divider id="amenities" label="Cabin Amenities"></app-section-divider>

	<h4 class="label">Internet</h4>
	<ul class="list-disc list-inside">
		<li>Network: <i>River House</i></li>
		<li>Password: <i>cowlitzriver</i></li>
	</ul>

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>
	
	<h4 class="label">Heating & Cooling</h4>
	<br>
	<b>Heat Pump:</b>You can set the home to the temp you would like using the thermostat on the wall.
	Normally, heating is set to 68 degrees and cooling to 72 degrees. Feel free to adjust to your liking during your stay.
	<br>
	<br>
	<b>Gas Fireplace:</b>The thermostat on the right in the hallway and a small on/ off switch on the upper right rear of the unit operates the fireplace.
	Either can be used to light the fireplace. The flame height is adjusted by opening a small door in front below the glass and turning the knob labeled flame height.
	If the fire does not light, the pilot light is out. Follow instructions found in the same area as the flame height dial.
	Please be aware that using the gas fireplace will warm up the great room, but may cause the forced air furnace from the heat pump not to operate, resulting in cold bedrooms during cold weather.

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Lighting</h4>
	The great room, kitchen, master bedroom and breakfast bar have dimmers (dimmer for great room is near the door to the master bedroom)
	so if things seem dark check that the dimmers are all the way up!
	<br>
	The river-side, outside lights have a switch near the sliding glass doors.
	The driveway side light is on a motion detector & the switch is near the entry door of the utility room.
	In addition there are low voltage lights at the base of the deck. Feel free to unplug them near the main sliding door if you'd like
	to enjoy the stars! 

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Emergency Utility Shutoff</h4>
	<br>
	<b>Water:</b> Whole house Shutoff is located in the closet in the Utility/ Laundry room. Look for the valve, low on the wall next to the water heater.
	<br>
	<br>
	<b>Electrical:</b> Breaker box is in the middle bedroom (mountain wall).  All breakers are marked.
	<br>
	<br>
	<b>Propane</b> Shutoff valve is on top of the tank, located on the other side of the walkway off the master bedroom and next to the river facing RV pad. The fireplace also has an accessible valve.
	<br>
	<br>
	<b>In Case of Power Failure:</b>
	Flashlights, lantern and candles are located on the shelf in the utility closet.  The lighter is in the second drawer down to the left of the oven.  Please use caution around candles if they are used.
	The gas fireplace will operate without electricity. Just turn the thermostat on the right in the hallway to the desired temperature. If you use these supplies please return them to their spot so the next guest can find them. 

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Kitchen</h4>
	The kitchen should have all your basics plus a few extras.
	In order that our kitchen is useful to all our guests we do ask to please hand wash the pots, pans and bakeware. Their finishes and coats will last longer
	The bakeware is newer and have non-stick surfaces. No greasing needed!
	We have a few small appliances

	<ul class="list-disc list-inside">	
		<li>Blender</li>
		<li>Rice cooker</li>
		<li>Waffle maker</li>
	</ul>

	Please make sure that if you use one to clean it before putting it away.
	Our next guests will appreciate your efforts! Thank you!
		
	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">RV Pad</h4>
	Water, power and septic service are located next to the concrete pad that is along the bunk house.
	We can provide additional hookup information if you need it.
	There is an additional RV pad by the home that has power hookups only.
	
	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	
	<h4 class="label">TVs</h4>
	All TVs have the Amazon Fire Stick (One in the great room, one in the primary bedroom).
	You should be able to use all popular streaming apps on the TVs, such as netflix, amazon prime and hulu.
	Just input your username and password and you can access the content you want.
	Don't forget to sign out before you leave!

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Gas Barbecue</h4>
	Instructions are printed on the barbecue. Barbecue tools are in the kitchen drawer.
	We try to keep the propane canister filled.  If it is empty, please let us know and we will exchange it for a full one.
	For the benefit of our next guests, please clean the grill with the grill brush after use!

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Firepit</h4>
	First things first: check to see if there is any burn ban in effect. You can do this by checking the
	<a href="https://lewiscountywa.gov/departments/community-development/blog/">Lewis County website,</a>
	or it will be posted at the Packwood Post Office or Blanton's Market.
	<br>
	The fire pit is an **approved** firepit where you can have a fire during some burn bans. However you still do need to check if there is a TOTAL burn ban. 
	In that case, the firepit cannot be used. Firewood & fire starter can be purchased in town including at Blanton's, or at the lot in front of Skate Creek Bridge.
	An axe and hatchet are in the utility closet for cutting firewood as needed.
	Marshmallow/hot dog roasting sticks can be found in the deck box on the hot tub side of the home.
	Matches should be found in the small drawer on the left side of the kitchen sink.
	Watch the fire at all times and pay special attention to it during windy conditions.
	Ensure all items, including chairs are a safe distance from the fire.
	Please make sure the fire is out before you leave and please never leave the fire unattended.

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Hot Tub</h4>
	Rinse off before use of the hot tub.
	Unclip the 2 straps holding the cover, fold that end of the cover onto the other side of the cover sitting on the tub,
	then slide the folded cover into the holder that rests on the forest side of the hot tub. Dust off feet before climbing into tub
	The skimmer that rests against the home can be used to remove any pine needles or debris that can fall into the tub.
	Please do not bring glass into the hot tub.
	When done, please make sure to return the hot tub cover over the tub and clip it in place!


	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<h4 class="label">Hanging Egg Chairs</h4>
	Please note the weight limit for the chairs, which is 250 lbs.  This means that in general, only 1 person should sit in the chair at a time (aside from an adult and a small child).
	Please note that these are hanging chairs rather than swings.  While swings are fun, these are not designed for full on swing use and are meant for gentle motion only.
	The height of the chairs can be adjusted using the carabiner that attaches the chain on the chair to the chair stand.

	<app-section-divider id="activities" label="Local Activities"></app-section-divider>
	<b>Quick Note:</b> Please be careful along the riverfront. It is rocky and the river is fast along the property, please use caution when accessing the river and always supervise children.
	<br>
	<br>
	<b>Wildlife!</b> While we cannot guarantee any sightings- here are some creatures to keep an eye out for that have been spotted from the home before:
	Elk, deer, coyotes, raccoons, beavers, bald eagles, golden eagles, osprey, blue herons, hawks, turkey vultures, ducks, geese and bats.
	Eagles, Osprey, Heron and Kingfishers have been spotted catching fish from the home! Bears have been spotted nearby, but not at the house yet.
	<br>
	<br>
	<b>Stargazing!</b> From the deck or fire pit provides the best sky visibility and is highly recommended!
	<br>
	<br>
	<b>Hot Tub!</b> Take a dip in the morning with some coffee! Watching the sun slowly light up the property while enjoying the heat of the hot tub can be a relaxing way to start the day.
	<br>
	<br>
	<b>Float the river!</b> You can start your float from the SW end of the property where it meets the river (the slower section to the far right if you're looking off the deck)
	all the way to the Skate Creek Bridge. You can prepare by leaving the vehicles at the Cowlitz River Access Point before starting (there is public parking).
	<a href="https://skatecreekpark.org/">Skate Creek Park website</a> (you can find directions here and info on accessing the river)
	<br>
	<br>
	<b>Trails!</b> A list of local trails can be finding in the hiking binder located on the tv stand. Here is a link to
	<a href="https://www.alltrails.com/us/washington/packwood">10 well like trails</a> nearby in Packwood.
	<br>
	<br>
	<b>Fishing!</b> Very popular at Packwood Lake. It is a hike-in lake, but the hike in is worth it!
	<br>
	<br>
	We're happy to offer suggestions for hikes or other activities in the area! Just shoot us a message via the hosting app! We are here to make your experience here fun and the best fit for your needs.

	<app-section-divider id="food" label="Eats & Drinks"></app-section-divider>
	
	<h4 class="label">Restaurants in Packwood</h4>
	
	<b>The Blue Spruce Bar and Grill:</b> (360)494-5605 <br>
	Serves alcohol along with traditional bar food including a solid variety of burgers, fried chicken, fried baskets, steaks, and salad.
	Wednesday is “Taco Night” where tacos are plentiful and cheap. Children are allowed in the non-bar area. Eat in or take out.
	<br>
	<br>
	<a href="https://www.packwoodbrewingco.com/">Packwood Brewing Company:</a> <br>
	As it's name implies, it has an assortment of microbrews. It also serves wine, ciders and other cocktails depending on the day.
	It also serves chips and salsa, an assortment of tacos and other foods depending on the day and availability.
	During different seasons and busier days, you may also see the Ice Cream Airstream or other food trucks. Keep an eye out for these.
	<br>
	<br>
	<b>Droppers:</b> (360)494-2055 <br>
	Their specialty is hamburgers and they have several to choose from. They also offer other items like fish 'n chips, chicken strips, etc. Eat in or take out.
	<br>
	<br>
	<a href="http://www.cruiserspizza.com/">Cruiser's Pizza:</a> (360)494-5400 <br>
	Pizza is their primary offering but they also have a variety of other items from which to choose. They also serve breakfast. Eat in or take out.
	If you haven’t tried the Packwood Special Pizza or the Taco Pizza, both are favorites of visitors!
	<br>
	<br>
	<a href="https://nachosmexicanrestaurant.getrestaurantops.com/">Nachos Mexican Restaurant:</a> (360)494-4000 <br>
	Nachos has a good range of Mexican fare, including a variety of tacos, burritos, enchiladas, and fajitas. Eat in or take out.
	Orders can be made online as well at the link above.
	<br>
	<br>
	<b>The Mountain Goat Café and Bakery:</b> (360)494-5600 <br>
	Serves a variety of baked goods as well as a variety of coffee drinks.
	<br>
	<br>
	<a href="https://www.whitepasstaco.com/">White Pass Tacqueria and Tap Room:</a> (360)492-7137 <br>
	Open for breakfasts and lunches 8-3 Wed- Monday. It's a perfect stop on the way up to the ski area. It has a good selection of you guessed it, tacos and Tex Mex fare.
	Eat in or take out.

	<br>
	<br>
	<h4 class="label">Restaurants in the Greater Area</h4>
	<a href="https://skiwhitepass.com/lodging-dining">White Pass Ski Lodge:</a> (509)672-3101 <br>
	Open during winter ski season, the restaurant is a fun place to eat and watch skiers and
	snowboarders enjoy the snow. Of course, if you ARE a skier or snowboarder, you already know about this place!
	There are many different places to eat (8!) throughout the resort as well, including dining part way down the slopes at High Camp Lodge. The remaining eateries available there are listed on the website.
	<br>
	<br>
	<a href="https://mtrainierguestservices.com/paradiseinndining/">Paradise Inn Dining Room:</a> (360)569-2275 <br>
	Open during the summer and early fall season, the lodge is available for breakfast, lunch and dinner. During the summer months the Lodge hosts a Sunday Brunch.
	<br>
	<br>
	<b>Copper Creek Inn:</b> (360)569-2326 <br>
	A local favorite restaurant in or out of Packwood, Copper Creek serves breakfast, lunch and dinner.
	They offer a variety of country food including beef stew, salmon, fresh trout and other yummy items.
	Their specialty is homemade blackberry pie! You can't leave without trying a bite or two.
	It is open both summer and winter but a better option during the summer months when Skate Creek road is open.
	During the summer Copper Creek is a great place to eat after a day at Mount Rainier.
	We suggest entering the Park at Steven's Canyon entrance and make your way around and leave through the Longmire entrance.
	The restaurant is just about 2 miles from the entrance. When you are done eating you can continue to Skate Creek Road (Forest Service Road 52) to get back to Packwood.
</div>