.page-content
{
	padding-top: 64px;
}

.mobile
{
	.page-content
	{
		padding-top: 56px;
	}
}

.footer
{
	background-color: #004d4d;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}